<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.can.water_law_exam_backend.mapper.AccountUserMapper">

    <resultMap id="BaseResultMap" type="org.can.water_law_exam_backend.entity.AccountUser">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="org_id" property="orgId"/>
        <result column="id_no" property="idNo"/>
        <result column="phone" property="phone"/>
        <result column="pwd" property="pwd"/>
        <result column="locked" property="locked"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, org_id, id_no, phone, pwd, locked, create_time, update_time
    </sql>

    <select id="selectByIdNo" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_account_user
        WHERE id_no = #{idNo}
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_account_user
        WHERE id = #{id}
    </select>

    <update id="updatePassword">
        UPDATE tb_account_user
        SET pwd = #{pwd},
            update_time = NOW()
        WHERE id = #{id}
    </update>

</mapper>


